* {margin: 0;
padding: 0;
box-sizing: border-box;}
.conteiner {width: 100%; height: 100vh; background-image: url(img/patern.png); display: flex; justify-content: center; align-items: center;}

.loader {width: 20px; height: 20px; background: rgb(59, 57, 57); border-radius: 45%;
animation-name: grow;
animation-duration: .6s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-delay: .3s;
display: flex; align-items: center; 

}



.loader::after { 
	content: '';
    position: absolute;
    left: 600px;
	min-width: 10px;
	height: 20px;
    background-color:rgb(39, 173, 77);
	border-radius: 45%;
    animation-name: grow;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .4s;
}

.loader::before { 
	content: '';
    position: absolute;
    left: 760px;
	min-width: 10px;
	height: 20px;
    background-color:rgb(235, 123, 18);
	border-radius: 45%;
    animation-name: grow;
animation-duration: .6s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-delay: .1s;
   
}


@keyframes grow {
    from {width: 10px; height: 10px;}
    to {width: 30px; height: 30px;}
}